name: karting-nextjs

services:
  app:
    # build: . # Build the application from the current directory Dockerfile
    build:
      context: .
      target: dev
      # dockerfile: Dockerfile
    restart: 'no'
    container_name: karting-nextjs
    ports:
      - 3000:3000
    env_file: ./.env
    environment:
      NODE_ENV: development
      DOTENV_PRIVATE_KEY_PRODUCTION: ${DOTENV_PRIVATE_KEY_PRODUCTION}
    develop:
      watch:
        - action: sync
          path: .
          target: /app
