name: karting-nextjs

services:
  app:
    build:
      context: .
      target: prod
    restart: unless-stopped
    container_name: karting-nextjs
    ports:
      - 3004:3000
    environment:
      NODE_ENV: production
      DOTENV_PRIVATE_KEY_PRODUCTION: ${DOTENV_PRIVATE_KEY_PRODUCTION}
